/* 
** blue:blossom - design variation 07 - "mellow blossom"
**
** This file contains a design variation of the base
** stylesheet.
** 
** April 14, 2007 - (version 1.0)
** 
** This is a part of the open source template
** "blue:blossom" made by Jonas John (www.jonasjohn.de)
*/

/* page background */
body { background-color: #FFFFFF; }

/* image colors: */
.image {
	background-color: #FFFFFF;
}
	
.image:hover {
	background-color: #FFFFFF;
} 
	
/* content link colors */
#content a:hover, #content a:active { 
	background-color: #FFFFFF; 
	color: #000000;
}
