/* 
** blue:blossom - base stylesheet
**
** This file contains the base styles that are used 
** in every style variation.
** 
** April 14, 2007 - (version 1.0)
** 
** This is a part of the open source template
** "blue:blossom" made by Jonas John (www.jonasjohn.de)
*/

/* 
	General settings
	----------------
	All margins, paddings and borders are set here
*/
	
	/* reset all margins, paddings and borders for specific elements */
	body,div,p,p2,img,form,h1,h2,h3,h4,h5,h6,ul,li { 
		margin: 0; 
		padding: 0; 
		border: 0;
	}
	
	body { 
		margin: 0.6em 0em 2em 0em; 
		text-align: center;
	}   
	h1,h2,h3{
	letter-spacing: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: initial;
	color: #9C3030;
	}

	h4 {
	letter-spacing: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: initial;
	
	}

	h2 {
		padding: 10px 0 0 0;
		word-spacing: 4px;
		font-size: 1.30em;
	}

	h3 {
		padding: 4px 0 0 0;
		word-spacing: 4px;
		font-size: 1.05em;
	}
	
	h4 {
		padding: 12px 0 0 0;
		word-spacing: 4px;
		font-size: 0.90em;
		color: #000033;
	}
        
	h5 {
		font-size: 0.8em;
        }

	ul{
		list-style-type: disc;
		list-style-position: inside;
		padding: 0px;
		margin: 0px;	}
	
	ul.padded{
		list-style-type: disc;
		list-style-position: inside;
		padding: 5px;
		margin: 5px;	}
		
	ul.embed{
		list-style-type: circle;
		list-style-position: inside;
		padding: 0px;
		margin: 0 0 10px 20px;	}


	ul.nonesp{
		list-style-type: none;
		list-style-position: inside;
		padding: 5px;
		margin: 0px;	}

	li{
		/*background-image: url(sqpurple.gif);*/
		background-repeat: no-repeat;
		background-position: 0px 5px;
		padding-left: 14px;
		font-size: 0.75em;
		font-family: Verdana, Arial, sans-serif;
		color: #595959;
		line-height: 1.5em;
	}

	/* Added by Ramya for Table */
table.sample {
		font-family: Verdana, Arial, sans-serif; 
		font-size: 0.7em; 
		color: #595959; 
		line-height: 1.64em;
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: dotted;
	/*border-color: black;*/
	border-collapse: separate;
	background-color: white;
}
/*
table.sample th {
	border-width: 1px 1px 1px 1px;
	padding: 2px 2px 2px 3px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.sample td {
	border-width: 1px 1px 1px 1px;
	padding: 3px 3px 3px 3px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
	*/
	/* basics */
	.centered { margin: 0 auto; text-align: left; }
	.clear { clear: both; }
	#content { padding: 0.5em 0.9em 0.7em 0.45em; }
	.image { padding: 2px; }
		
	/* header */
	#inner_header { padding-bottom: 0.2em; }
	#inner_header h1 { padding: 1.5em 0.35em 0.6em 0.5em; }
	#inner_header h2 {float: right;	padding: 2.0em 0.20em 0m 0em; }	
	/* navigation */
	#inner_header ul { list-style-type: none; padding: 0.2em 0em 0.2em 0.4em; display:inline; text-align:center; }
	#inner_header ul li { list-style-type: none; float: left; margin: 0em 0.3em 0em 0em; } 		
	#inner_header ul li a, #inner_header ul li a:hover { 
		float: left;
		padding: 0.55em 1.7em; 
		text-decoration: none;
		
	}    
	#inner_header br { display: none; }

	
	/*#inner_cover { background-repeat: no-repeat; }*/
		

	/* content */
	#content p { margin-top: 0.5em;  }
	#content a { text-decoration: none; }      

		/* image classes */
		.img_left {
			float: left; 
			margin: 0.5em 0.8em 0em 0em;	
		}
			
		.img_right {
			float: right; 
			margin: 0.5em 0em 0em 0.8em;
		}
		
		.image img {
			display: block; margin: 0; padding: 0;
		}

	#footer { padding: 8em 0.5em 0.5em 0.5em; }
	
	.list, .list2c {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	line-height: 2em;
}

.list2c li {
	float: left;
	width: 50%;
}
/* 
	Sizes
	-----
	Here you can modify your page width and height
*/    

	.full { width: 100%; }
	.centered { width: 600px; width: 43.8em; }
	#inner_cover { height: 120px; }

	  

/* 
	Colors
	------
	Colors are set here.
*/   
	
	body { background-color: #FFFFFF; }
	
	/* header: */
	#inner_header { background-color: #FFFFFF; }
	
		#inner_header h1 { color: #595959; }
		#inner_header h1 a { 
			/*color: #595959;*/
			color: #000000;
			text-decoration: none;
		}

		#inner_header ul li a { 
			background-color: #D9ECFD; 
			color: #000000; 
			border-bottom: 1px solid #CAD9B2; 
			border-right: 1px solid #CAD9B2;
		}
		
		#inner_header ul li a:hover { 
			background-color: #844816; 
			/*background-color: #000000;*/
			color: #FFFFFF;
		}

	/* content */
	#inner_content { background-color: #FFFFFF; }      
	
		#content h1 { color: #595959; }
		#content a { background-color: #FFFFFF; color: #0000FF; padding: 1px; }
		#content a:hover { background-color: #000000; color: #FFFFFF; }
		
		.image { background-color: #3B4629; }
			
			
	/* footer */
	#footer {  }  
	#footer a:link, #footer a:visited { color: #000000; }     
	#footer a:hover, #footer a:active { color: #FFFFFF; } 

	#content a.cless {
		color: #000000;
	}
		


/* 
	Fonts
	-----
	Font families and sizes are definied below.
*/
	body { font-size: 120%; }

	/* logo headline */
	#inner_header h1 { 
		/*font-family: Arial, Verdana, sans-serif;*/ 
		font-size: 1.5em;
	}
	
	/* navigation font */
	#inner_header ul li { 
		font-family: Verdana, Arial, sans-serif;  
		font-size: 0.7em;
	}
	
	/* content headlines */
	/* #content h1 {
		font-family: Arial, Verdana, sans-serif; 
		font-size: 1.2em;
	}*/

	/*#content h2 {
		font-family: Arial, Verdana, sans-serif; 
		font-size: 0.8em;
	}*/
	
	/* content paragraphs */
	#content p { 
		font-family: Verdana, Arial, sans-serif; 
		font-size: 0.825em; 
		color: #373737; 
		line-height: 1.5em;
	}

#content p2 { 
		font-family: Verdana, Arial, sans-serif; 
		font-size: 0.8em; 
		color: #595959; 
		line-height: 0.8em;
	}
	
	/* footer font */
	#footer { font-size: 0.6em; }
	
	   

/* end of css - */
